$color-link: #F5F7FA;
$color-link-hover: #E6E9ED;
$color-line: #EBF2F6;
$color-post-title: #4A4A4A;
$color-post-tag: #9EABB3;

$font-mono: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace;

// Media queries
$mq-mobile: "screen and (max-width: 479px)";
$mq-tablet: "screen and (min-width: 480px) and (max-width: 767px)";
$mq-normal: "screen and (min-width: 768px)";
