$color-link: #F5F7FA;
$color-link-hover: #E6E9ED;
$color-line: #EBF2F6;
$color-post-title: #4A4A4A;
$color-post-tag: #9EABB3;

$font-sans: STHeiti, "Microsoft YaHei", -apple-system, "PingFang SC", "Microsoft JhengHei", "Helvetica Neue", Arial, "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;

// Media queries
$mq-mobile: "screen and (max-width: 479px)";
$mq-tablet: "screen and (min-width: 480px) and (max-width: 767px)";
$mq-normal: "screen and (min-width: 768px)";
