<div class="index">
    <section>
        <header>
            <h1><%= config.title %></h1>
            <h2><%= config.subtitle %></h2>

            <nav>
                <ul>
                <% for (var key in theme.menu) { %>
                    <li>
                        <a href="<%= theme.menu[key] %>"><%= key %></a>
                    </li>
                <% } %>
                </ul>
            </nav>
        </header>
    </section>
</div>
