.content {
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-line;
    &::after {
        position: absolute;
        left: 50%;
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        margin-left: -0.25rem;
        margin-top: 1.7rem;
        border: 1px solid $color-line;
        border-radius: 0.5rem;
        background: #FFF;
        display: block;
        box-shadow: #FFF 0 0 0 0.5rem;
    }
    >section {
        font-family: $font-sans;
        word-wrap: break-word;
        a {
            color: $color-post-title;
            border-bottom: 1px dashed $color-post-title;
        }
        img {
            max-width: 100%;
            margin: auto;
            border: 1px solid $color-link;
            display: block;
            cursor: pointer;
        }
        code {
            padding: 2px 4px;
            color: #C7254E;
            font-size: 0.9rem;
            word-wrap: break-word;
            background: #F9F2F4;
            border-radius: 2px;
        }
        blockquote {
            margin-left: 0;
            margin-right: 0;
            font-style: italic;
            border-left: 2px solid $color-line;
        }
        .alt {
            margin-top: 0.6rem;
            color: lighten($color-post-title, 20%);
            text-align: center;
            font-size: 0.9rem;
            display: block;
        }
    }
    >footer {
        >.tag-list {
            display: flex;
            >li {
                >a {
                    @include post-tag;
                }
            }
        }
    }
}
