.content {
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-line;
    &::after {
        position: absolute;
        left: 50%;
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        margin-left: -0.25rem;
        margin-top: 1.7rem;
        border: 1px solid $color-line;
        border-radius: 0.5rem;
        background: #FFF;
        display: block;
        box-shadow: #FFF 0 0 0 0.5rem;
    }
    >section {
        word-break: break-all;
        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
        }
        em {
            font-style: italic;
        }
        a {
            color: $color-post-title;
            border-bottom: 1px dashed $color-post-title;
        }
        img {
            max-width: 100%;
            max-height: 460px;
            margin: auto;
            border: 1px solid $color-link;
            display: block;
            box-shadow: 0 0 4px 0px $color-post-title;
            opacity: 0.9;
            transition: all .5s;
            cursor: pointer;
            &:hover {
                opacity: 1;
                box-shadow: 0 0 1px 0px $color-post-title;
            }
        }
        code {
            margin: 0 4px;
            padding: 0 6px;
            color: #C7254E;
            word-wrap: break-word;
            background: #F9F2F4;
            border-radius: 2px;
        }
        blockquote {
            margin-left: 0;
            margin-right: 0;
            font-style: italic;
            border-left: 2px solid $color-line;
        }
        .alt {
            margin-top: 0.6rem;
            color: lighten($color-post-title, 20%);
            text-align: center;
            font-size: 0.9rem;
            display: block;
        }
    }
    >footer {
        >.tag-list {
            display: flex;
            >li {
                >a {
                    @include post-tag;
                }
            }
        }
    }
}
