.header {
    width: 100%;
    height: 400px;
    padding: 1rem 2rem;
    color: $color-link;
    background: url('/images/bg.jpg') center center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    a {
        @include hyper-link;
    }
    >nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        >h1 {
            color: $color-link;
        }
        >ul {
            display: flex;
            >li {
                margin-left: 2rem;
            }
        }
    }
    >div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        text-align: center;
        display: table;
        z-index: 0;
        >div {
            vertical-align: middle;
            display: table-cell;
            background: rgba(0, 0, 0, 0.24);
            >h1 {
                max-width: 710px;
                margin: auto;
                padding: 0 1rem;
                font-size: 3rem;
                font-weight: bold;
                box-sizing: border-box;
                &.title {
                    font-size: 2.4rem;
                }
            }
            >h2 {
                color: $color-link;
                line-height: 3rem;
                font-weight: normal;
            }

            >section {
                margin-top: 1rem;
                >span {
                    display: inline-block;
                }
                >.category-list {
                    display: inline-block;
                }
                >time {
                    display: inline-block;
                }
                >.tag-list {
                    >li {
                        margin: 0 0.25rem;
                        display: inline-block;
                        >a {
                            @include hyper-link;
                            &::before {
                                content: '#';
                            }
                        }
                    }
                }
            }
        }
    }
    @media #{$mq-mobile} {
        >nav {
            display: block;
            >h1 {
                display: none;
            }
            >ul {
                justify-content: space-around;
                >li {
                    margin-left: 0;
                }
            }
        }
        >div {
            >div {
                >h1 {
                    font-size: 1.6rem;
                }
                >h2 {
                    font-size: 1rem;
                }
                >section {
                    font-size: 0.9rem;
                    >time {
                        display: block;
                    }
                }
            }
        }
    }
}
