body {
    animation: fadeIn 1s;
    @keyframes fadeIn {
        from {opacity: 0}
        to {opacity: 1}
    }
}

.main {
    width: 80%;
    max-width: 710px;
    margin: 2rem auto;
    display: block;
}

@media #{$mq-mobile} {
    .main {
        width: 90%;
        margin: 1rem auto;
    }
}
